<!--Desktop Footer Partial-->
<div fxShow.gt-md fxHide.lt-md>
  <app-desktop-footer-columns></app-desktop-footer-columns>
</div>

<!--Tablet Footer Partial-->
<div fxShow.md fxHide.gt-md fxHide.lt-md>
  <app-tablet-footer-columns></app-tablet-footer-columns>
</div>

<!--Mobile Footer Partial-->
<div fxShow.sm fxHide.gt-sm>
  <app-mobile-footer-rows></app-mobile-footer-rows>
</div>

<div class="text-center gray-bg white-text layout-padding">
  <p>Copyright 2020 | Slightly Modified | uPawnDirect</p>
  <p>Powered by <a href="https://slmodd.com" target="_blank" class="hyperStyles">Slightly Modified Technologies</a></p>
</div>
