<!-- User Profile ToolBa r-->
<mat-toolbar-row class="mod-light-bg">
  <span fxFlex="2"></span>
  <span class="white-text" fxFlex>User Details: <strong> {{ name }} </strong></span>
  <mat-icon>favorite</mat-icon>
  <mat-icon color="warn">delete</mat-icon>
  <button mat-mini-fab color="white" routerLink=""><mat-icon>person</mat-icon></button>
  <span fxFlex="2"></span>
</mat-toolbar-row>

<!--User Profile Home -->
<div fxLayout="row">
  <div fxFlex="2"></div>
  <div fxFlex="66">
    <mat-card class="layout-padding layout-margin">
      Main content :)
    </mat-card>
  </div>
  <div fxFlex="30">
    <mat-card class="layout-padding layout-margin">
      Right Column Supporting Media Content
    </mat-card>
  </div>
  <div fxFlex="2"></div>
</div>
