<!--Main Mobile Footer Row-->
<div fxLayout="row" class="mod-light-bg">
  <div class="text-center">
    <div>
      <h3>Mission Statement</h3>
      <blockquote class="white-text"><em>"Slightly Modified is dedicated to bring Enterprise level Software to the Hands of Small and Medium Sized Businesses WorldWide!"</em></blockquote>
      <h4 style="padding-left: 3px;">- Slightly Modified</h4>
    </div>
    <div fxLayout="row" class="layout-padding">
      <img fxLayout.lt-md="row" src="../../../assets/images/slightlyModifiedLogo-1.png" fxFlex />
    </div>
  </div>
</div>
