<!--4 Column Category Cards Template-->
<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80">
    <!--1-col mat card main-->
    <div class="margin-layout" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="10"></div>
      <div fxFlex="80" fxLayout="row">
        <mat-card fxFlexFill>
          <h2>Modify Your Life</h2>
          <mat-card-content class="text-center">
            <!-- QUOTE OF THE DAY -->
            <h4>Quote of the Day</h4>
            <blockquote class="blockquote mb-0">
              <p class="layout-padding"><em>“People often say that motivation doesn’t last. Well, neither does bathing, that’s why we recommend it daily.”</em></p>
              <footer class="blockquote-footer"><cite title="Source Title">Zig Ziglar</cite></footer>
            </blockquote>
            <span style="z-index:50;font-size:0.9em;">
              <img src="https://theysaidso.com/branding/theysaidso.png"
                   height="20" width="20"
                   alt="theysaidso.com"/>
              <a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com"
                 style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a>
            </span>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button fxFlexFill class="white-text gray-bg">Join</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="10"></div>
    </div>
    <!--2-col mat card subject categories-->
    <div class="margin-layout" fxLayout="row">
      <div fxFlex="10"></div>
      <div fxLayout="row" fxFlex>
        <!--card 1-->
        <div class="margin-layout" fxFlex="50">
          <mat-card class="content-shadow text-center">
            <img mat-card-image src="../../../assets/images/Slighty-Modified-desktop-resized.jpg" alt="Brick and Mortar">
            <mat-card-content>
              <h4>Fresh Gear</h4>
              <p>
                Quick Details about our hot new gear!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Shop Now</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <!-- card 2-->
        <div class="margin-layout" fxFlex="50">
          <mat-card class="content-shadow text-center">
            <img mat-card-image src="../../../assets/images/Slighty-Modified-desktop-resized.jpg" alt="Mid-size Businesses">
            <mat-card-content>
              <h4>Automotive Parts</h4>
              <p>
                Quick Details about parts and accessories!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Discovery</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div fxFlex="10"></div>
    </div>

    <div fxLayout="row">
      <mat-card fxFlexFill>
        <app-user-profile-features></app-user-profile-features>
      </mat-card>
    </div>
    <!--4-col mat card subject categories-->
    <div class="margin-layout" fxLayout="row" fxHide.lt-md>
      <div fxFlex="10"></div>
      <div fxLayout="row" fxFlex>
        <!--card 1-->
        <div class="margin-layout" fxFlex="25">
          <mat-card>
            <img mat-card-image src="../../../assets/images/Slighty-Modified-mobile-resized.jpg" alt="Startups">
            <mat-card-content>
              <h4>Startups</h4>
              <p>
                Quick Details about the Startup Content!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <!-- card 2-->
        <div class="margin-layout" fxFlex="25">
          <mat-card>
            <img mat-card-image src="../../../assets/images/Slighty-Modified-mobile-resized.jpg" alt="Small Business">
            <mat-card-content>
              <h4>Small Businesses</h4>
              <p>
                Quick Details about the Small Business Content!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <!--card 3-->
        <div class="margin-layout" fxFlex="25">
          <mat-card>
            <img mat-card-image src="../../../assets/images/Slighty-Modified-mobile-resized.jpg" alt="Fast-Growing Businesses">
            <mat-card-content>
              <h4>Fast-Growing Businesses</h4>
              <p>
                Quick Details about the Fast-Growing Businesses Content!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <!--card 4-->
        <div class="margin-layout" fxFlex="25">
          <mat-card>
            <img mat-card-image src="../../../assets/images/Slighty-Modified-mobile-resized.jpg" alt="Family Owned">
            <mat-card-content>
              <h4>Family Owned</h4>
              <p>
                Quick Details about the Family Owned Content!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button>Learn More</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div fxFlex="10"></div>
    </div>

  </div>
  <div fxFlex="10"></div>
</div>

