/*Global Styles*/
@import "../assets/styles/_variables";

/*Main Menu / Side Nav Steez*/
@import "./main-nav/main-nav.component";

//Global colors
.gray-bg {background-color: $slmodd-toolbar-color;}
.mod-theme-bg {background-color: $slmodd-theme-bg;}

.white-text {color: #ffffff !important;}

// Links
.link-light-gray {
  color: $slmodd-link-light-gray !important;
}

// Social Links
.fb-blue { background-color: $facebook-blue !important; }
.ig-purp { background-color: $ig !important; }
.google-blue { background-color: $google !important; }
.yt-red { background-color: $youtube !important; }
.twit-blue { background-color: $twit-blue !important; }

//Global Spacing and Format
.bottom-section-shadow {box-shadow: 0 8px 6px -6px black;}

.spacer {flex: 1 !important;}

.text-center {text-align: center !important;}

.lay-left { text-align: left !important; }

.layout-padding {padding: 2vw !important;}
.no-padding {padding: 0;}

.layout-margin {margin: 2vw !important;}
.margin-layout {margin: 5% 2%;}
.no-margin { margin: 0; }

.nodots { list-style: none !important; }

// Global Theming Styles
a.hyperStyles {
  text-decoration: none !important;
  color: $slmodd-theme !important;
  .hyperStyles:hover {
    letter-spacing: 2px;
  }
}

.content-shadow:hover {box-shadow: 5px 5px 5px 15px rgba(191, 191, 191, 0.50);}

/*Main Menu Steez*/
.mat-toolbar {background-color: $slmodd-toolbar-color !important;}
.mod-light-bg {background-color: $slmodd-secondary-bar-color;}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {margin-left: 8px;}

.mat-sidenav {
  padding-top: 0 !important;
  margin-top: -5px !important;
  background-color: whitesmoke;
}

.mat-list-item {
  padding-top: 0 !important;
  margin-top: -5px !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  color: white;
  background-color: $slmodd-toolbar-color;
}

.mat-list-item:hover {color: $slmodd-theme;}


.sidenav-container {flex: 1;}

.is-mobile .sidenav-container {flex: 1 0 auto;}








