<!--Section H2-->
<div fxLayout="row">
  <div fxFlex="2"></div>
  <div fxFlex="80" class="layout-padding">
    <h2>Discover New Features</h2>
  </div>
  <div fxFlex="18"></div>
</div>

<!--Discovery Images 50/50 DESKTOP VIEW ONLY-->
<!--TODO: optimize for tablet and mobile :) -->
<!--TODO: pager fab buttons for feature slider, move to align middle -->
<div fxLayout="row">
  <div fxFlex="5"></div>
  <div fxFlex="5">
    Left Arrow
  </div>
  <div fxFlex="80">
    <div fxLayout="column" fxFlex>
      <img src="../../../assets/images/icons/no-image-placeholder.png"
           alt="Tester" height="450" width="550" />
      <h4>Feature Title</h4>
    </div>
    <div fxLayout="column" fxFlex>
      <img src="../../../assets/images/icons/no-image-placeholder.png"
           alt="Tester" height="450" width="550" />
      <h4>Feature Title</h4>
    </div>
    <div fxLayout="column">
      Right Arrow
    </div>
  </div>
  <div fxFlex="10"></div>
</div>
