<!-- 	User/Vendor/Buyer/Seller 	-->
<!-- 	Browse SLMODD Inventory   -->
<!-- 	   Updated: 02/20/20      -->

<!--Desktop-->
<div fxShow.gt-lg fxHide.lt-lg>
  <app-dashboard-desktop-header></app-dashboard-desktop-header>
</div>
<!--Laptop-->
<div fxShow.gt-sm fxHide.lt-md fxHide.gt-md>
  <app-dashboard-laptop-header></app-dashboard-laptop-header>
</div>
<!--Mobile-->
<div fxShow.sm fxHide.gt-sm>
  <app-dashboard-mobile-header></app-dashboard-mobile-header>
</div>

<!--Dashboard Main Page Menu-->
<mat-toolbar class="no-space-top text-center" fxHide.lt-sm fxLayoutAlign="center center">
  <span class="white-text text-center">Thanks for playing your role in the Slightly Modified Family!</span>
</mat-toolbar>

<!--New Dashboard Features Call 2 Action-->
<app-dashboard-new-features></app-dashboard-new-features>

<!--4 Column Category Blurb Cards-->
<app-cat-cards></app-cat-cards>
