<!-- 	User/Vendor/Buyer/Seller 	-->
<!-- 	Browse SLMODD Inventory   -->
<!-- 	   Updated: 02/20/20      -->

<!--Desktop-->
<div fxShow.gt-lg fxHide.lt-lg>
  <app-dashboard-desktop-header></app-dashboard-desktop-header>
</div>
<!--Laptop-->
<div fxShow.gt-sm fxHide.lt-md fxHide.gt-md>
  <app-dashboard-laptop-header></app-dashboard-laptop-header>
</div>
<!--Mobile-->
<div fxShow.sm fxHide.gt-sm>
  <app-dashboard-mobile-header></app-dashboard-mobile-header>
</div>

<!--Dashboard Main Page Menu-->
<mat-toolbar class="no-space-top text-center" fxLayoutAlign="center center">
  <span class="white-text text-center">Buy | Sell | Barter/Offer | Wishlist | Collect | Pawn</span>
</mat-toolbar>

<!--Sell With Confidence Call 2 Action-->
<mat-jumbotron>
  <mat-jumbotron-content>
    <div fxFlex></div>
    <h1 class="display-1 text-center" ngClass.xs="display-3 text-center" ngClass.sm="display-3"
        ngClass.md="display-2 text-center" ngClass.lg="text-center">
      <strong>Sell and Manage your Products With Confidence</strong>
    </h1>
    <div fxFlex></div>
    <p class="headline text-center" ngClass.xs="text-center">
      List, manage, and analyze your product listings from One elegant dashboard!
    </p>

    <div fxLayout="row" fxLayoutAlign="center center"> <!--fxLayout.xs="column" fxLayoutGap.xs="1rem" -->
      <a mat-stroked-button color="primary" target="_blank">
        <mat-icon>code</mat-icon>Let's Browse
      </a>
      <a mat-stroked-button color="secondary" target="_blank">
        <mat-icon>note</mat-icon>Become a Vendor
      </a>
    </div>
  </mat-jumbotron-content>
</mat-jumbotron>

<!--4 Column Category Blurb Cards-->
<app-cat-cards></app-cat-cards>

  <hr>
  <!-- QUOTE OF THE DAY -->
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Quote of the Day
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><em>“People often say that motivation doesn’t last. Well, neither does bathing, that’s why we recommend it daily.”</em></p>
          <footer class="blockquote-footer"><cite title="Source Title">Zig Ziglar</cite></footer>
        </blockquote>
      </div>
      <div class="card-footer text-muted">
        <span style="z-index:50;font-size:0.9em;">
          <img src="https://theysaidso.com/branding/theysaidso.png"
               height="20" width="20"
               alt="theysaidso.com"/>
          <a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com"
             style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a>
        </span>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col col-lg-2"></div>
      <div class="col col-lg-8 text-center">
        <h3>Become a Vendor</h3>
        <button class="btn btn-primary">See How</button>
      </div>
      <div class="col col-lg-2"></div>
    </div>
  </div>

<div class="spacer layout-padding"></div>

<app-footer></app-footer>
