<hr>
<div class="row">
  <div class="text-center">
    <div fxFlex="50">
      <h3>Resources</h3>
      <ul class="nodots">
        <li class="mat-menu-item text-center"><a href="#" class="link-light-gray">Home</a></li>
        <li class="mat-menu-item text-center"><a href="#" class="link-light-gray">About</a></li>
        <li class="mat-menu-item text-center"><a href="#" class="link-light-gray">Services</a></li>
        <li class="mat-menu-item text-center"><a href="#" class="link-light-gray">Dashboard</a></li>
        <li class="mat-menu-item text-center"><a href="#" class="link-light-gray">HELP</a></li>
      </ul>
    </div>
    <div fxFlex="50">
      <h3>Mission Statement</h3>
      <blockquote><em>"Slightly Modified is dedicated to bring Enterprise level Software to the Hands of Small and Medium Sized Businesses WorldWide!"</em></blockquote>
      <h4 style="padding-left: 3px;">- Slightly Modified</h4>
      <img fxLayout.lt-md="row" src="../../../assets/images/logo_transparent.png" width="450" height="250" />
    </div>
  </div>
</div>

